<mat-grid-list cols="4" rowHeight="2:1" layout-align="center center"> 
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button style="color:pink; background-color: cadetblue">1</button></mat-grid-tile>

</mat-grid-list>